[2021-06-06 10:28] bennypowers opened #2 "Typescript typings for plugin authors"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `@custom-elements-manifest/analyzer@0.1.11` for the project I'm working on.

This should work, the only thing that I'm not sure about is the type imports from the `custom-elements-manifest` package, which didn't appear to work for me, so please check.

Here is the

[2021-06-06 10:37] #2 closed

[2021-06-06 11:25] ajmchambers opened #5 "analyser tests failing on windows"
Hey looks good, liking the vscode colours you've got going too.

I ran the analyser tests on windows and they were failing due to path issues:

`globby` wants forward slashes so added an explicitly posix version of the path

[code]

changed relativeModulePath to use the current separator instead of `/`:
[code]

Importing the manifest using a local file url instead of an absolute path [(absolute im

[2021-06-06 11:34] #5 closed

[2021-06-07 12:27] bennypowers opened #12 "Improved TypeScript ergonomics"
This issue tracks some nice-to-have enhancements for type detection.

The analyzer does great picking up on explicitly typed members:

[code]

Here,
- the mixin parameter will be correctly typed as `B`
- the `x` field will be correctly typed as `X<A>`
- the `bool` field will be typed as `boolean`

However, it would be nice if for the following code:

[code]

Would give:
- the parameter as `B exten

[2021-06-07 15:11] bennypowers commented on #12
I've got a plugin for boolean types, want that in core?

[2021-06-07 17:22] bennypowers opened #13 "Class members with same name as static members may be ignored"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `@custom-elements-manifest/analyzer@0.1.16` for the project I'm working on.

[code]
expected:
[code]
actual:
[code]

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-pack

[2021-06-08 06:51] #13 closed

[2021-06-08 07:07] thepassle commented on #12
What does the plugin do exactly? Assign the type of `bool` to be `{type: {text: boolean}}` by inferring the type from its default value?

I think we could add some type inference behavior for fields, (and variables?), but we'd need to make sure to keep the correct 'priority' of type systems. Currently JSDoc will overrule TS types, so the priority should probably be (from least prio to highest prio

[2021-06-08 07:41] bennypowers commented on #12
I'll open a draft PR and we can go over it there 🙂

[2021-06-08 07:45] thepassle commented on #12
I think we should make a new handler for this, something like `handleTypeInference` and add it here: https://github.com/open-wc/custom-elements-manifest/blob/master/packages/analyzer/src/features/analyse-phase/creators/createClassField.js#L18

[code]

That way we can easily add it for variables as well

[2021-06-15 11:34] bennypowers opened #21 "support @ignore tag"
https://jsdoc.app/tags-ignore.html

Given this source:
[code]

I **expect** this output:
[code]

instead **actual** result is:
[code]

[2021-06-15 11:38] thepassle commented on #21
your sourcecode doesnt use the `@ignore` tag though 🌚

[2021-06-15 12:46] bennypowers commented on #21
my bad, just an oversight. updated the descrip

[2021-06-18 12:46] Matsuuu opened #26 "Found playground issue: Default exported LitElement components crash the analyzer"
# Playground issue

Reproduction URL:
https://custom-elements-manifest.netlify.app/?source=aW1wb3J0IHsgTGl0RWxlbWVudCwgaHRtbCwgY3NzIH0gZnJvbSAnbGl0LWVsZW1lbnQnOwppbXBvcnQgcm9vdCBmcm9tICcuLi91dGlscy9yb290cGF0aCc7CgpleHBvcnQgZGVmYXVsdCBjbGFzcyBUb3BCYXIgZXh0ZW5kcyBMaXRFbGVtZW50IHsKICAgIHN0YXRpYyBnZXQgcHJvcGVydGllcygpIHsKICAgICAgICByZXR1cm4gewogICAgICAgICAgICBtb2JpbGVvcGVuOiB7IHR5cGU6IEJvb2xlYW4sIHJlZ

[2021-06-18 12:46] Matsuuu commented on #26
Creating a PR..

[2021-06-18 13:00] #26 closed

[2021-06-18 13:25] Matsuuu opened #28 "Feature Request: Pre-fill the code field in the playground on error"
It would be a nice user experience if, on error, as we get provided the playground link, it would have the parameters so that the code part is pre-filled with the contents of the file that caused the error.

This would make it easier and less cumbersome to submit bug reports.

It would mean that we need to add the source to the [withErrorHandling](https://github.com/open-wc/custom-elements-manifes

[2021-06-18 13:32] thepassle commented on #28
We should be able to do something like this. The module's AST has a `.text` property on the root node of the AST (the `SourceFile` node): https://astexplorer.net/#/gist/9b8066d5273d00c85a6a255a28c74958/d763625adece6398d34f276d714046e5ecfe5509

One problem here is that I think the playground can only handle a source file of a certain size because we call `const decoded = decodeURIComponent(atob(sou

[2021-06-18 13:45] Matsuuu commented on #28
Good point!

I'll have to look into the subject, and will look into implementing this in the following week(s)

[2021-06-19 16:51] p-ob opened #30 "Circular reference when converting to JSON schema"
**Checklist**
- [x] Did you run the analyzer with the `--dev` flag to get more information?
- [x] Did you create a **minimal** reproduction in the [playground](https://custom-elements-manifest.netlify.app/)?

In writing a custom element to render custom elements manifest in a friendly format, we've encountered an issue when trying to generate the custom element manifest for this component.

I've i

[2021-06-19 17:02] thepassle opened #31 "[plugin-lit] litelement properties are duplicate if JSDoc description is added"
The following code:
[code]

Results in:
[code]

The two properties in the CEM should be merged instead

EDIT: This is not limited to lit, but also regular class fields

[2021-06-19 17:09] thepassle opened #32 "[playground] comment-parser doesnt work in the browser"
`comment-parser` seems to break in the browser. Need to figure out why.

Only used in `handlers.js` (`handleAttrJsDoc()`) and `class-jsdoc.js`.

https://custom-elements-manifest.netlify.app/?source=Y2xhc3MgTXlFbCBleHRlbmRzIExpdEVsZW1lbnQgewogLyoqCiAgKiBAYXR0cgogICovCiAgZm9vOwp9CgpjdXN0b21FbGVtZW50cy5kZWZpbmUoJ215LWVsJywgTXlFbCk%3D&library=litelement

[2021-06-19 17:15] thepassle commented on #30
Seems to be a problem with the following comment:
[code]

Removing this stops it from crashing. :
[code]

Definitely a bug, not sure why this is happening exactly yet. I'll take a look and debug it.

Minimal repro:
[code]

[2021-06-20 07:15] thepassle commented on #31
fixed in https://github.com/open-wc/custom-elements-manifest/commit/e97c1b9cc801506247f9f0e1c77d1bf34d9802c0

[2021-06-20 07:15] #31 closed

[2021-06-20 07:15] thepassle commented on #32
fixed in https://github.com/open-wc/custom-elements-manifest/commit/128d1c62a48b477d4a2606d70cdc00504f46859f

[2021-06-20 07:15] #32 closed

[2021-06-20 07:16] thepassle commented on #30
This should be fixed in https://github.com/open-wc/custom-elements-manifest/commit/03ade50e1db83c7cd6b946a7754dbb6bd6550f7f

Furthermore, I'd love to see the `customelement-schema-viewer` component when it's done 😄  Please do share it with us!

[2021-06-20 07:16] #30 closed

[2021-06-21 00:54] mihar-22 opened #34 "`TypeError` when dispatching custom event with no type argument"
## Description

As the reproduction showcases the analyzer will fail if the dispatched custom event has no type argument. There are occasionally cases where no type is required, see this [example](https://github.com/mihar-22/vds-player/blob/migrate-to-js/src/media/media.events.js).

**Error thrown location:** [ERROR](https://github.com/open-wc/custom-elements-manifest/blob/master/packages/analyzer

[2021-06-21 06:49] thepassle commented on #34
Events are a bit tricky in the sense that many people will have different ways of writing them. Currently in core, event discovery is fairly basic (it handles CustomEvent/Event, and JSDoc events annotated above a class the event is fired from).

I've added some safeguards around the bit where we try to get the `eventName` though, because it shouldnt crash on that.

I think there's room for improve

[2021-06-21 06:49] #34 closed

[2021-06-21 07:03] mihar-22 commented on #34
Cool thanks @thepassle!

[2021-06-21 07:26] Matsuuu commented on #28
I did a quick test doing this, and threw a 400 line component at this. Javascript atob and decodeURIComponent can easily handle these, at least in node, but the URL itself becomes just too big for the browser to handle.

We could

a) Ditch the idea
or
b) Limit it to a managable URL size, in which case the max file length would be something like 200 lines max?

[2021-06-21 07:27] Matsuuu commented on #28
An idea I was thinking about was a url shortening service, or a quick api (firebase or custom etc.) to save the hash to and load it from, but as the playground currently stands it's only a frontend, and I'd advice against hosting out own error handling site just for this niche

[2021-06-21 11:09] thepassle commented on #28
Hm, yeah. Maybe we're overthinking things a bit 😅  We could do something like `if(sourceFile.length < someAmountOfChars) generatePlaygroundUrl()`, but on the other hand... I think the error reporting and issue creation process should already probably be straightforward enough. Maybe we leave the idea for now and if it turns out to be a problem in the future we can always revisit it. What do you th

[2021-06-21 11:38] Matsuuu commented on #28
Yeah let's do that. It would be more of a confusion to the end user why sometimes it generates and sometimes it doesn't.

Maybe if this pops up later, we can implement something around it :)

[2021-06-21 11:38] #28 closed

[2021-06-21 11:42] thepassle commented on #28
Thanks for looking into this though, appreciate it!

[2021-06-21 11:46] Matsuuu commented on #28
My pleasure! Let me know if there's something else I can help out with!

[2021-06-23 20:15] juliexiong opened #36 "Support output path flag for analyzer"
`custom-elements-manifest/analyzer` automatically outputs the schema file `custom-elements.json` into whichever directory you run the analyzer, but I'd like to be able to specify a path for the file to output into.

For example, I have a package called `foo-button`. When analyzing files inside `/foo-button/src/`, I want `custom-elements.json` to output into `/foo-button/dist/` instead of in the cu

[2021-06-23 20:22] thepassle commented on #36
Yeah I think we can make this customizable. I'll take a look at this tomorrow

[2021-06-24 06:16] #36 closed

[2021-06-24 06:18] thepassle commented on #36
Added this as `outdir` option in the CLI (e.g.: `cem analyze --outdir dist`). Will release version 0.3.3 shortly

[2021-06-24 15:01] hsablonniere opened #38 "JSDoc description for `@prop` with a `- ` prefix"
Hey team :wink:,

I'm used to write my JSDoc like this:

[code]

This is how it's documented on [JSDoc](https://jsdoc.app/tags-property.html) and how I used it with WCA.

As you can see in this:

https://custom-elements-manifest.netlify.app/?source=LyoqCiAqIEhlbGxvCiAqIAogKiBAcHJvcCB7U3RyaW5nfSBmb29iYXIgLSBNeSBhd2Vzb21lIGRlc2NyaXB0aW9uCiAqLwpleHBvcnQgY2xhc3MgTXlDb21wb25lbnQgZXh0ZW5kcyBMaXRFbGVtZW5

[2021-06-24 15:05] hsablonniere commented on #38
I would be intrigued to try a PR if you decide CEM needs to handle this.

[2021-06-24 15:31] hsablonniere opened #39 "Private methods and properties with `_` prefix"
Hey team :wink:,

## Context

I'm still using the `_` prefix convention for private properties and methods. I know `#` is coming but I don't want to transpile and while I wait for better support, I'm OK with the `_` prefix convention.

WCA recognize `_` as a private prefix and it also recognize `#` as a private prefix I think.

If I use those `_` prefix with CEM analyzer:

https://custom-elements-

[2021-06-24 15:56] thepassle commented on #38
As discussed on Slack: Youre not _wrong_, but this is how TS gives us the jsdoc description (including the `- `), i kind of was hoping not to have to do any normalizing here because it gets iffy really quickly. If there is enough interest from more people, we should take a look at fixing this though. For now I'd recommend using a custom plugin to remove them.

[2021-06-24 16:00] thepassle commented on #39
While methods prefixed with `_` being private is a widely used convention, it is still a convention, and methods prefixed with a `_` are not actually private (unlike methods prefixed with a `#`), therefore I think its more correct to stick to the standard, and _not_ mark these as private. As discussed on Slack, I recommend using a custom plugin to make them private instead. A quick example of a pl

[2021-06-24 17:51] juliexiong opened #40 "`--outdir` file path not reflected in `package.json`"
**Checklist**
- [x] Did you run the analyzer with the `--dev` flag to get more information?
- [x] Did you create a **minimal** reproduction in the [playground](https://custom-elements-manifest.netlify.app/)?

**Bug**
I set the output directory for my manifest file to `/dist/`, but it is not reflected in `package.json` after running `cem analyze` script.

**Expected behavior**
I expect that if I se

[2021-06-24 18:26] #40 closed

[2021-06-24 18:27] thepassle commented on #40
Ugh, sorry about that. I had the feeling I'd forgotten something. Should be fixed in 0.3.4, thanks for reporting!

[2021-06-24 18:48] juliexiong commented on #40
Haha, no worries. Greatly appreciate how fast you address issues!

Unfortunately, this fix is outputting the path as `"customElements": "dist\\custom-elements.json"` instead of `"customElements": "dist/custom-elements.json"`

[2021-06-24 18:57] thepassle commented on #40
Thats weird, which command are you running and which OS are you on?

I just call path.join on whatever the outdir is and 'custom-elements.json'

[2021-06-24 19:23] juliexiong commented on #40
Yeah, I was looking at the changes you made and it shouldn't have affected the output. Strange.

I'm on Windows 10 Enterprise, and running the command via a node script in my `package.json`:

`package.json`:
[code]

Command I run:
[code]

Output:
[code]

Must be a Windows thing?

[2021-06-24 20:19] thepassle commented on #40
Hm, looks like I might have to `path.normalize()` the path, which turns it into `dist\custom-elements.json`, which would be the expected path for windows right?

Also, does the actual json file get output to the dist folder correctly?

[2021-06-24 20:33] juliexiong commented on #40
Yeah, that sounds right to me. And yep, `custom-elements.json` outputs into the `dist` folder as specified with `--outdir dist`!

[2021-06-25 13:50] hsablonniere commented on #38
Fair enough, let's do it like this.

[2021-06-26 17:28] daKmoR commented on #39
interestingly for me `_foo` was "protected" and `__foo` was "private"...

I would say stick to the standard... but maybe add this plugin to the docs? or even ship the plugin as a package? or even add it to the "core" it so you could do

[code]

[2021-06-26 17:36] thepassle commented on #39
Did you have them annotated with jsdoc as being protected/private? That also works, then you dont even need a plugin to handle it

[2021-06-26 17:42] daKmoR commented on #39
indeed we annotate with jsdoc... so if that works already... then I would say declaring it in TS or via JSDoc or via js `#` should be the only ways to do it... clean, descriptive, and no magic 💪

[2021-06-26 23:17] nolanlawson opened #43 "TypeScript error: "tagName" does not exist in type 'ClassDeclaration'"
**Checklist**
- [x] Did you run the analyzer with the `--dev` flag to get more information?
- [x] Did you create a **minimal** reproduction in the [playground](https://custom-elements-manifest.netlify.app/)?

In the playground (or command line), use this custom element:

[code]

You'll get this JSON:

<details><summary>click to expand</summary>

[code]

</details>

If you compare this to the [sche

[2021-06-27 07:08] thepassle commented on #43
This seems like a bug in the schema. A custom element has a tagname: https://github.com/webcomponents/custom-elements-manifest/blob/master/schema.d.ts#L198 so the output JSON in this case is correct. Looks like this is the offender though: https://github.com/webcomponents/custom-elements-manifest/blob/master/schema.d.ts#L71

Would you mind creating an issue in https://github.com/webcomponents/cust

[2021-06-27 07:15] thepassle commented on #43
As for some of your comments in your PR, it is still early days for `custom-elements.json`, we only recently released the V1 version and tooling hasnt caught up yet, but we're actively working on these things. There's an open issue for [api-viewer](https://github.com/web-padawan/api-viewer-element/issues/61), as well as a PR for [Storybook](https://github.com/storybookjs/storybook/pull/15138) to s

[2021-06-27 17:02] nolanlawson commented on #43
No problem. Opened an issue here: https://github.com/webcomponents/custom-elements-manifest/issues/69

And thanks, I understand it's early days for `custom-elements.json`. I appreciate the hard work you're putting into this. It's unglamorous standardization work, it's hard to move a big ecosystem (like herding cats!), but it's much needed, so thank you for putting in the effort. :slightly_smiling_

[2021-06-27 17:08] thepassle commented on #43
Great, ill close this issue then - lets continue discussion in the other repo. Thanks!

[2021-06-27 17:08] #43 closed

[2021-06-28 16:17] hsablonniere opened #47 "The outdir in the config does not seem to work"
Hey team :wink:

I tried using `outdir` in my `custom-elements-manifest.config.mjs` but the file still gets generated at the default location. Using the CLI param works.

[code]

[2021-06-28 16:18] hsablonniere commented on #47
Also, when I specify `--outdir dist` and `dist` does not exist, there's an `ENOENT` error.

[2021-06-28 16:41] thepassle commented on #47
Ah, its because the `defaultValue` of `outdir` (from the CLI options) is `''`, and CLI options override user config options;
[code]

And because `outdir` (from CLI options) _has_ a value (`''`), I guess it overrides the user config option 🤦

[2021-06-28 18:32] thepassle commented on #47
fixed in https://github.com/open-wc/custom-elements-manifest/pull/49

[2021-06-28 18:32] #47 closed

[2021-06-29 09:34] hsablonniere commented on #47
:parrot: :man_dancing:

[2021-06-29 09:38] hsablonniere commented on #47
@thepassle There is still an error if the directory does not exist:

[2021-06-29 13:24] thepassle commented on #38
I have been sufficiently persuaded 😆 This has been added to the latest version.

@hsablonniere this means you can remove your custom plugin in clever cloud :)

[2021-06-29 13:24] #38 closed

[2021-06-30 06:58] Matsuuu opened #52 "Tagname not getting populated if the class is a default export"
**Checklist**
- [X] Did you run the analyzer with the `--dev` flag to get more information?
- [X] Did you create a **minimal** reproduction in the [playground](https://custom-elements-manifest.netlify.app/)?

https://custom-elements-manifest.netlify.app/?source=CmV4cG9ydCBkZWZhdWx0IGNsYXNzIE15RWxlbWVudCBleHRlbmRzIEhUTUxFbGVtZW50IHsKICBmb28gPSAnaGVsbG8nOwoKICAvKioKICAgKiBAYmFyIHRoaXMgaXMgY3VzdG9tIG

[2021-06-30 14:24] bennypowers opened #57 "`#private` fields should not inherit"
**Checklist**
- [x] Did you run the analyzer with the `--dev` flag to get more information?
- [x] Did you create a **minimal** reproduction in the [playground](https://custom-elements-manifest.netlify.app/)?

https://custom-elements-manifest.netlify.app/?source=CmV4cG9ydCBjbGFzcyBBIGV4dGVuZHMgSFRNTEVsZW1lbnQgewogICNwcml2YXRlID0gJ2hlbGxvJzsKICBwcml2YXRlIHByaXYgPSAnaGVsbG8nOwp9CgpleHBvcnQgY2xhc3MgQi

[2021-06-30 14:35] thepassle commented on #57
I'm not sure if this would really be the "correct" behavior, while you cant interact with private properties, `class B` _does_ inherit them from `class A`

![image](https://user-images.githubusercontent.com/17054057/123979609-29e94100-d9c1-11eb-87d1-e7647c10ecae.png)

[2021-06-30 14:41] bennypowers commented on #57
hmm interesting
yeah that's confusing as heck :D

guess could leave it then

[2021-06-30 14:41] #57 closed

[2021-06-30 14:57] hsablonniere commented on #38
:tada: This is awesome!

[2021-06-30 21:10] Niznikr opened #60 "Litelement properties initialized with an imported value does not have type or default value defined"
**Checklist**
- [x] Did you run the analyzer with the `--dev` flag to get more information?
- [x] Did you create a **minimal** reproduction in the [playground](https://custom-elements-manifest.netlify.app/)?

Completing the items above will greatly improve triaging time of your issue.

**Expected behavior**
Properties of a lit component that get initialized from an imported module ([here's an exam

[2021-06-30 21:23] thepassle commented on #60
Could you provide a minimal reproduction? Its not entirely clear to me what you're importing and expecting to be output

[2021-06-30 21:23] thepassle commented on #60
Could you provide a minimal reproduction? Its not entirely clear to me what you're importing and expecting to be output

[2021-06-30 21:29] Niznikr commented on #60
[Here's the best I can do](https://custom-elements-manifest.netlify.app/?source=CmltcG9ydCB7IExpdEVsZW1lbnQgfSBmcm9tICdsaXQtZWxlbWVudCc7Cgpjb25zdCBURVNUX1ZBTFVFID0gJ2hlbGxvJzsKCmV4cG9ydCBjbGFzcyBNeUVsZW1lbnQgZXh0ZW5kcyBMaXRFbGVtZW50IHsKICBzdGF0aWMgZ2V0IHByb3BlcnRpZXMoKSB7CiAgICByZXR1cm4gewogICAgICBmb286IHsgdHlwZTogU3RyaW5nIH0KICAgIH0KICB9CgogIGNvbnN0cnVjdG9yKCkgewogICAgc3VwZXIoKTsKICAgIHRoaXMuZm9v

[2021-07-01 10:27] thepassle commented on #52
this was fixed and is available in the latest version

[2021-07-01 10:27] #52 closed

[2021-07-01 10:28] thepassle commented on #12
type inference was added, ill close this for now

[2021-07-01 10:28] #12 closed

[2021-07-01 11:21] #39 closed

[2021-07-01 12:48] Niznikr commented on #60
In that example I'd expect `foo` to have `"type": {"text": "string"}` and `"default": "'hello'"`

[2021-07-01 17:39] thepassle opened #67 "Rework default exported classes"
[code]

Should be:
[code]

Instead of (currently):
[code]

See also: https://github.com/webcomponents/custom-elements-manifest/issues/72

Notes:
- Might only have to change: https://github.com/open-wc/custom-elements-manifest/blob/master/packages/analyzer/src/features/analyse-phase/exports.js#L141
- Can also remove the `_tempName` hack then

[2021-07-02 07:24] #67 closed

[2021-07-03 07:20] thepassle opened #70 "support reflect"
- [x] May need to add a JSDoc annotation `@reflect` on classfields for this
  - [x] dont forget to add to docs under supported jsdoc
- [x] in Lit, need to also make sure we dont only add the attribute, but add the attribute to the property
- [x] check other libraries also

See:

https://github.com/webcomponents/custom-elements-manifest/pull/75/files#diff-95895cb593e1d579084c78f75c5c564eb3479e28fb7

[2021-07-03 09:13] thepassle commented on #60
Just as an update, I'm working on this in https://github.com/open-wc/custom-elements-manifest/pull/69

It should be mostly done, but i'd like to take some more time to iron out the edge cases.

[2021-07-03 09:16] thepassle opened #71 "[FAST] Investigate new way of defining custom elements"
[code]

[code]

[code]

[2021-07-03 11:04] thepassle commented on #60
This should be fixed in 0.4.8 🙂

[2021-07-03 11:04] #60 closed

[2021-07-03 12:09] Niznikr opened #73 "LitElement subclass overridden field value not shown"
**Checklist**
- [x] Did you run the analyzer with the `--dev` flag to get more information?
- [x] Did you create a **minimal** reproduction in the [playground](https://custom-elements-manifest.netlify.app/)?

Completing the items above will greatly improve triaging time of your issue.

**Expected behavior**
If a subclass initializes its own value for an inherited field I would expect that value to

[2021-07-04 06:48] #73 closed

[2021-07-04 07:03] #70 closed

[2021-07-04 13:49] Niznikr opened #76 "LitElement subclass overridden field missing privacy"
**Checklist**
- [x] Did you run the analyzer with the `--dev` flag to get more information?
- [x] Did you create a **minimal** reproduction in the [playground](https://custom-elements-manifest.netlify.app/)?

Completing the items above will greatly improve triaging time of your issue.

**Expected behavior**
If a subclass initializes its own value for an inherited field I would expect that field to

[2021-07-04 14:04] Niznikr opened #77 "LitElement subclass overridden field incorrect type"
**Checklist**
- [x] Did you run the analyzer with the `--dev` flag to get more information?
- [x] Did you create a **minimal** reproduction in the [playground](https://custom-elements-manifest.netlify.app/)?

Completing the items above will greatly improve triaging time of your issue.

**Expected behavior**
If a subclass initializes its own value for an inherited field I would expect that field to

[2021-07-06 21:51] bahrus opened #79 "Support interface extensions?"
Now that class fields are implemented in Chrome (and other browsers), combined with the latest Typescript compiler that can compile to this standard, I recently discovered something that caused me to reevaluate how I define vanilla web components.

If I define a custom element like this:

[code]

This allowed Typescript consumers of the class to recognize that there is a field/property called myFi

[2021-07-07 06:08] thepassle commented on #79
Currently interfaces are not supported yet because they are not specified in the schema.

There is a PR to add support for interfaces in the schema though, and Im also working on a PR to support them in the analyzer

[2021-07-07 17:17] Niznikr commented on #77
Thanks @thepassle looks good with the fix!

[2021-07-07 17:17] #77 closed

[2021-07-07 17:18] Niznikr commented on #76
Thanks @thepassle! Fix looks good.

[2021-07-07 17:18] #76 closed

[2021-07-07 21:18] claviska commented on #21
`@internal` is also commonly used for the same purpose.

[2021-07-08 04:10] Niznikr opened #83 "LitElement resolveInitializer module path mismatch"
**Checklist**
- [x] Did you run the analyzer with the `--dev` flag to get more information?
- [ ] Did you create a **minimal** reproduction in the [playground](https://custom-elements-manifest.netlify.app/)?

Completing the items above will greatly improve triaging time of your issue.

**Expected behavior**
When importing a module from another file to initialize a property, the resulting `resolveI

[2021-07-11 11:09] thepassle commented on #21
fixed in https://github.com/open-wc/custom-elements-manifest/pull/91

[2021-07-11 11:09] #21 closed

[2021-07-12 13:09] Niznikr commented on #83
More than happy to reproduce in the playground if there's a way to add an additional file there.

[2021-07-12 13:15] thepassle commented on #83
Sorry for the slow reply 🙂  The repro you made is super helpful, just havent had the time to get to this yet. I hope to have some more time by the end of this week.

[2021-07-12 13:24] Niznikr commented on #83
No worries @thepassle! Thanks for the reply.

[2021-07-18 09:00] Danny-Engelman opened #95 "Doesn't work with refactored original code (same code, but smaller code)"
Playground:

https://custom-elements-manifest.netlify.app/?source=Y3VzdG9tRWxlbWVudHMuZGVmaW5lKCdteS1lbGVtZW50JywgY2xhc3MgTXlFbGVtZW50IGV4dGVuZHMgSFRNTEVsZW1lbnQgewogIHN0YXRpYyBnZXQgb2JzZXJ2ZWRBdHRyaWJ1dGVzKCkgewogICAgcmV0dXJuIFsnZGlzYWJsZWQnXTsKICB9CgogIHNldCBkaXNhYmxlZCh2YWwpIHsKICAgIHRoaXMuX19kaXNhYmxlZCA9IHZhbDsKICB9CiAgZ2V0IGRpc2FibGVkKCkgewogICAgcmV0dXJuIHRoaXMuX19kaXNhYmxlZDsKICB9CgogIGZpcm

[2021-07-21 15:48] bennypowers opened #96 "pluggable module resolution?"
**Goal**: Plug in to analyzer's module resolution so I can resolve _across monorepo packages_

**Relevant Code**:
https://github.com/open-wc/custom-elements-manifest/blob/d8bb5a6f33563abffb61f4a3d749656cb8804feb/packages/analyzer/src/utils/index.js#L18-L34

**Given input like**:

[code]
[code]

Analyser will identify `'@apollo-elements/core/apollo-query-controller';` as a bare specifier and quit.

[2021-07-21 16:21] thepassle commented on #96
Yeah, monorepos are currently not very well supported yet, but I think it'll take more work than just the `resolveModuleOrPackageSpecifier` function. That function really just only checks where an identifier comes from.

I think there will also be some changes needed in the inheritance plugin, which currently isnt very pluggable yet.

[2021-07-23 14:56] peschee opened #98 "Issue with JSDoc's @link tag"
# Playground issue

Reproduction URL:
https://custom-elements-manifest.netlify.app/?source=Ci8qKgogKiBbbGlua117QGxpbmsgaHR0cHM6Ly93d3cuZ29vZ2xlLmNvbX0uCiAqLwpjbGFzcyBNeUVsZW1lbnQgZXh0ZW5kcyBIVE1MRWxlbWVudCB7CiAgc3RhdGljIGdldCBvYnNlcnZlZEF0dHJpYnV0ZXMoKSB7CiAgICByZXR1cm4gWydkaXNhYmxlZCddOwogIH0KCiAgc2V0IGRpc2FibGVkKHZhbCkgewogICAgdGhpcy5fX2Rpc2FibGVkID0gdmFsOwogIH0KICBnZXQgZGlzYWJsZWQoKSB7CiAgICByZ

[2021-07-23 14:59] peschee commented on #96
What would already also be helpful in a monorepo setup is the ability to define a path to the configuration file.

I think the CLI does not allow this. Manifest analyzer settings could be stored in a central file and (re-)used across packages.

[2021-07-24 08:16] #95 closed

[2021-07-24 14:12] markacianfrani opened #100 "Duplicate attributes using jsdoc"
I'm not sure if this is intentional or not, but given this example:

https://github.com/storybookjs/storybook/blob/31e3ad8b816f8a0686d616309e100a7d0f3bad72/examples/web-components-kitchen-sink/src/components/sb-button.ts

that has the following attributes defined in the comments:
[code]

The custom elements analyzer spits out:
[code]

This is probably because it parses the jsdoc but still parses t

[2021-07-24 14:14] thepassle commented on #100
This should be fixed in 0.4.13, please feel free to reopen this if the issue still persists 🙂

[2021-07-24 14:14] #100 closed

[2021-07-24 17:56] bennypowers commented on #98
🤔 Interesting

What's your expected output?

[2021-07-24 18:12] bennypowers commented on #98
Some reference material:

https://jsdoc.app/tags-inline-link.html

Looks like TS's AST doesn't handle them well either

https://astexplorer.net/#/gist/fda1255cf9b907f5c4a4dccd2e6b379e/7b84b423d9e853c2424fb1a8478e89a18bfd22b8

[2021-07-24 18:18] thepassle commented on #98
looks like its related to this https://github.com/open-wc/custom-elements-manifest/commit/03ade50e1db83c7cd6b946a7754dbb6bd6550f7f#diff-617a0f945d183ba03903d2e564315b59dba448d3dcb6852137c219e29caa87c8

probably need to add the same handling here
https://github.com/open-wc/custom-elements-manifest/blob/e6b824a5156281c32d0a2462b48c87cbf8d4fccd/packages/analyzer/src/utils/jsdoc.js#L9-L14

[2021-07-24 19:11] peschee commented on #98
I would expect it gets ignored and the cem analyzer runs and outputs without errors.

[2021-07-26 16:01] Niznikr opened #102 "TypeScript optional indicator for parameter/properties not reflected in type"
**Checklist**
- [x] Did you run the analyzer with the `--dev` flag to get more information?
- [x] Did you create a **minimal** reproduction in the [playground](https://custom-elements-manifest.netlify.app/)?

Completing the items above will greatly improve triaging time of your issue.

**Expected behavior**
When using the `?` operator in TypeScript to indicate an [optional property](https://www.ty

[2021-07-26 17:25] bennypowers opened #103 "comment-parser breaking change"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `@custom-elements-manifest/analyzer@0.4.13` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2021-07-30 06:34] thepassle commented on #103
fixed by https://github.com/open-wc/custom-elements-manifest/pull/104

[2021-07-30 06:34] #103 closed

[2021-08-01 13:26] thepassle commented on #102
This should be fixed in #106

[2021-08-01 13:26] #102 closed

[2021-08-02 17:58] thepassle commented on #83
this should be fixed in https://github.com/open-wc/custom-elements-manifest/pull/109

[2021-08-02 17:58] #83 closed

[2021-08-04 07:32] #98 closed

[2021-08-17 13:51] bennypowers opened #110 "[feat]: dev server plugin"
see https://github.com/open-wc/create/issues/48#issuecomment-900306742

[2021-08-19 09:38] jpzwarte opened #111 "How to handle private class fields"
Currently If you have a class with private class fields, cem outputs those fields.

[code]

Example cem output (from another lit element web component):

[code]

Unlike typescript `private` keyword fields, private class fields are *really* private. So trying to access `foo.#bar` results in a syntax error.

Since you cannot access these private class fields from outside the class, should cem really

[2021-08-19 10:18] jpzwarte opened #112 "Stack trace is printed if you specify unknown CLI options to `analyze`"
`cem --help` works fine

`cem analyze --help` doesn't:
[code]

Not just `--help`, but *any* property cem doesn't know about, so `cem analyze --silent`:

[code]

[2021-08-19 10:21] thepassle commented on #112
`cem analyze --help` is kind of like saying `npm install --help`. What would you exactly expect to happen? To analyze, or output a help menu?

[2021-08-19 11:31] jpzwarte commented on #112
@thepassle output specific `analyze` help, or if there are no specific analyze options, output the generic help. But *always* output help when passing `--help`.

[2021-08-24 07:49] thepassle opened #114 "Events accidentally get privacy"
This function accidentally gives events privacy. In the schema, events are specced not to have privacy, so we should remove it.

https://github.com/open-wc/custom-elements-manifest/blob/14699e136f4a434d02c9df17703fed8378549a2d/packages/analyzer/src/features/analyse-phase/creators/createClass.js#L185

Quick fix:

[code]

But double check to see if we handle events anywhere else in the code, and rem

[2021-08-25 09:26] sbolz opened #115 "Analyzer throws when encountering empty "return" statement."
**Checklist**
- [x] Did you run the analyzer with the `--dev` flag to get more information?
- [x] Did you create a **minimal** reproduction in the [playground](https://custom-elements-manifest.netlify.app/)?

[Playground with minimal reproduction](https://custom-elements-manifest.netlify.app/?source=CmNsYXNzIE15RWxlbWVudCBleHRlbmRzIEhUTUxFbGVtZW50IHsKfQpjdXN0b21FbGVtZW50cy5kZWZpbmUoJ215LWVsZW1lbnQ

[2021-08-25 10:03] #115 closed

[2021-08-25 10:13] #114 closed

[2021-08-25 10:14] thepassle commented on #111
I think this might be a discussion to have in the schema standardization repo https://github.com/webcomponents/custom-elements-manifest

[2021-09-02 08:28] thepassle commented on #96
This was implemented in v0.5.0

[2021-09-10 15:36] Westbrook opened #121 "Add a CLI/config entry to prevent CEM/A from writing to a package.json file"
**Expected behavior**
Running the analyzer will only write to my `package.json` when I want it to.

**CLI/config entry options***
So as not to make this change breaking, we likely want a negation style flag here. Some options for review:
[code]
With my naive though that these kabob case flags would move to camel case in a config file.

Thoughts?

[2021-09-22 00:51] bahrus commented on #79
I just ran across what appears to be a workable workaround for this issue, in case anyone else is facing this issue:  use the [declare keyword with the field](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-7.html#the-usedefineforclassfields-flag-and-the-declare-property-modifier)

[2021-09-26 16:27] hasanirogers opened #122 "Question: How do you generate descriptions?"
Got the tool to work with my project that uses LitElement components. I don't see anything that documents how to generate descriptions though. Can someone point me in the right direction here?

[2021-09-28 13:13] k-paxian opened #123 "Support `--discoverNodeModules` option like WCA does it"
web-component-analyzer is allowing to drill down to `node_modules` folder, it's essential functionality for my project and it's a show stopper for this tool.

https://github.com/runem/web-component-analyzer/blob/1a71064c66a38923aab783e3885feefccfd19589/src/cli/analyzer-cli-config.ts#L23

[2021-09-28 13:27] thepassle commented on #123
The 'lifecycle' of the analyzer is:
- Get all globs to analyze
- Compile them with TS
- Analyze them

We can only know which imports/node_modules to analyze when we're analyzing the source code, at which compilation has already happened. Currently there's no good solution to this yet.

As a temporary workaround, you can specify the dependencies/node_modules you want to analyze in the `globs` prope

[2021-09-28 13:56] k-paxian commented on #123
Thanks for fast response, still not sure this will help to override last entry the way you suggest

![image](https://user-images.githubusercontent.com/18071010/135100951-a2781bb7-6fae-4703-ae42-fc4d6b97d6f6.png)

https://github.com/open-wc/custom-elements-manifest/blob/cef1f46f745d7eb0edc4c42e31ab56a9e7543516/packages/analyzer/src/utils/cli.js#L28

[2021-09-28 14:06] thepassle commented on #123
ah yes we should allow that then. But we'd also need to ignore `node_modules` by default

[2021-09-28 16:40] thepassle opened #124 "[lit-plugin] doesnt pick up on property decorator in mixins"
[playground](https://custom-elements-manifest.netlify.app/?source=LyogZXNsaW50LWRpc2FibGUgbWF4LWNsYXNzZXMtcGVyLWZpbGUgKi8KaW1wb3J0IHsgTGl0RWxlbWVudCB9IGZyb20gImxpdCIKaW1wb3J0IHsgcHJvcGVydHkgfSBmcm9tICJsaXQvZGVjb3JhdG9ycy5qcyIKCmV4cG9ydCBmdW5jdGlvbiBJbnB1dE1peGluKHN1cGVyQ2xhc3MpIHsKICBjbGFzcyBJbnB1dEVsZW1lbnQgZXh0ZW5kcyBzdXBlckNsYXNzIHsKICAgIEBwcm9wZXJ0eSh7IHR5cGU6IEJvb2xlYW4gfSkgZGlzYWJsZWQgPSBmYW

[2021-09-30 07:39] thepassle commented on #124
fixed by https://github.com/open-wc/custom-elements-manifest/pull/126

[2021-09-30 07:39] #124 closed

[2021-09-30 07:41] thepassle commented on #122
You can use jsdoc to add descriptions, see example [here](https://custom-elements-manifest.netlify.app/?source=Ci8qKgogKiBIZWxsbyBJIGFtIGEgZGVzY3JpcHRpb24KICovCmNsYXNzIE15RWxlbWVudCBleHRlbmRzIEhUTUxFbGVtZW50IHsKICBzdGF0aWMgZ2V0IG9ic2VydmVkQXR0cmlidXRlcygpIHsKICAgIHJldHVybiBbJ2Rpc2FibGVkJ107CiAgfQoKICAvKioKICAgKiBJIGFtIGEgZGVzY3JpcHRpb24gdG9vCiAgICovCiAgc2V0IGRpc2FibGVkKHZhbCkgewogICAgdGhpcy5fX2Rpc

[2021-09-30 07:41] #122 closed

[2021-09-30 07:48] thepassle commented on #111
Documenting 'true' private members may not be useful for consumers of your component, but it can be useful to document them for internal use/colleagues who are working on the component.

Since this is more of a discussion on the schema itself, i'll close this issue here

[2021-09-30 07:48] #111 closed

[2021-10-04 18:05] fredvisser commented on #71
Hey @thepassle - If someone was interested in helping with the above, do you have a particular approach in mind? Any gotchas or strategies to evaluate before jumping straight in?

[2021-10-05 06:13] PaulHMason opened #128 "Inherited events don't have a type."
I'm not sure it this is intentional or not, but inherited events don't have an inherited type like methods and fields - it would be useful for events to also have the type.

Also, CSS properties aren't inherited - not sure if this is intentional either.

[2021-10-05 06:22] PaulHMason commented on #128
Hmmm - I don't think the first part is an issue, it seems you get the event type from the actually usage, not the JSDoc comment.

[2021-10-05 07:39] thepassle commented on #128
This actually seems to be working as the schema expects it, since `CssCustomProperty` doesn't have a `inheritedFrom` field.

However, I think we should add the `inheritedFrom` field to the `CssCustomProperty` doc. Could you create an issue on the schema repository to discuss it there and adopt it in the schema?  https://github.com/webcomponents/custom-elements-manifest/issues

[2021-10-05 07:43] thepassle commented on #71
I don't have a particular approach in mind, no. The 'problem' with the way FAST now registers components, is that it's really hard to statically analyze, because they're just functions. They can be passed around, used in iterations/loops with different names, etc etc. I think we should first support a basic subset of possibilities before trying to catch all the ways to call a function. We can supp

[2021-10-05 11:34] #128 closed

[2021-10-05 23:10] daKmoR opened #130 "Consider custom element manifest files of imported packages"
my deps
[code]

👉 `node_modules/base/MyBase.js`

[code]

👉 `node_modules/base/custom-elements-manifst.json`

[code]

https://custom-elements-manifest.netlify.app/?source=CmltcG9ydCB7IExpdEVsZW1lbnQgfSBmcm9tICdsaXQtZWxlbWVudCc7CgpleHBvcnQgY2xhc3MgTXlCYXNlIGV4dGVuZHMgTGl0RWxlbWVudCB7CiAgc3RhdGljIGdldCBwcm9wZXJ0aWVzKCkgewogICAgcmV0dXJuIHsKICAgICAgYXdlc29tZTogeyB0eXBlOiBCb29sZWFuIH0KICAgIH0KICB9CgogIG

[2021-10-06 06:57] daKmoR commented on #130
I think #129 will mean it analyzes the code in my node_modules?

but what I mean is that it reads the `costume-elements-manifest.json` in node_modules and not the code. (e.g. do not analyze the code again)

[2021-10-11 15:56] michaelwarren1106 opened #131 "[to-markdown] Can't find module error in commonjs"
Hi all!

I'm trying to use the `to-markdown` package in nodejs as commonjs. and getting the following stack trace:

[code]

I basically just copied the import from the docs and switched it to commonjs/require notation so im importing like:

[code]

and using like:
[code]

I checked the exports in package.json and its correctly pointing at `dist/index.cjs`, but the path in that file to `fp.js` is p

[2021-10-11 16:28] splitinfinities opened #132 "Stencil compatibility"
Hey there @thepassle! This tool is looking amazing for CEM. Is there anything I can do to help improve the Stencil compatibility, either within this code or within Stencil?

I can't quite tell if analyzer code is parsing TypeScript or if you're parsing final compiled files. We do have an output target format that doesn't include the lazy loading which splits definitions out into their own files -

[2021-10-11 16:37] splitinfinities commented on #132
#45 answered my question about TypeScript files!

[2021-10-11 23:27] #132 closed, assigned to nobody

[2021-10-12 09:45] bennypowers commented on #131
@michaelwarren1106 try applying this patch

1. copy patch file below into `patches/@custom-elements-manifest+to-markdown+0.0.13.patch`
2. run `npx patch-package`

<details><summary>Patch File</summary>

[code]

</details>

If that works for you we'll cut a release

[2021-10-13 07:04] #131 closed

[2021-10-13 13:12] remcovaes opened #134 "Type inference for custom events TypeScript"
I have a feature request for type generation for events.

I would like to write the following code:
[code]
Would it be possible to infer the type of the event `foo` to the type argument `{ bar: 'baz' }`?

This would save me from duplicating the information to a comment, which can get out of sync with the code. This also allows TypeScript to check if my event detail has the correct type.

What I ha

[2021-10-13 19:16] michaelwarren1106 opened #135 "[Feature Request: to-markdown] support `--features` flag"
Hi all-

I took a look through the docs and didnt see anything like this, so I figured I'd request it.

I think it would be really useful to support a option/flag in the `to-markdown` package and the CEM plugin for markdown that lets consumers decide which sections to include in the final MD output, similar to the `--features` option in the [wca analyzer tool](https://github.com/runem/web-componen

[2021-10-16 16:58] bennypowers commented on #135
yeah sounds like a good feature, please open a pr

[2021-10-16 20:59] michaelwarren1106 commented on #135
will do! i started down one path but i think i have a better idea, so i’m gonna start over.

was struggling with how to remove superclasses but i think i have a config approach that’ll be flexible enough to allow all kinds of final documentation use cases

[2021-11-04 07:53] reno1979 opened #145 "Extend mixin vanilla js, missing attributes"
**Checklist**
- [ ] Did you run the analyzer with the `--dev` flag to get more information?
- [x] Did you create a **minimal** reproduction in the [playground](https://custom-elements-manifest.netlify.app/)?

Completing the items above will greatly improve triaging time of your issue.

**Expected behavior**
When I use a mixin for retrieving a Custom Element class, and extend using a mixin. I expec

[2021-11-04 08:23] thepassle commented on #145
The reason it's not getting the attributes/members for the mixin is because the mixin is not exported. (a `customElements.define` 'counts' as an export in this case as well, because it makes your element globally available). If something is not exported from a module, it's essentially private, and shouldn't be added to the manifest.

For inheritance that should work a bit different though, because

[2021-11-04 08:35] #145 closed

[2021-11-04 08:40] reno1979 commented on #145
@thepassle  That actually makes sense, thanks for looking into this. FYI the generated custom-elements.json will be used for Storybook (support v1.0 manifest >= v6.4.0)

[2021-11-04 08:41] thepassle commented on #145
Published in v0.5.7, thanks for reporting

[2021-11-04 10:50] reno1979 opened #147 "missing attributes extending mixins"
**Checklist**
- [x] Did you run the analyzer with the `--dev` flag to get more information?
- [x] Did you create a **minimal** reproduction in the [playground](https://custom-elements-manifest.netlify.app/)?

Completing the items above will greatly improve triaging time of your issue.

**Expected behavior**
I would expect attributes to be inherited.

**Example code:**

- class A extends HTMLElemen

[2021-11-04 11:32] thepassle commented on #147
Thanks for reporting this issue, I appreciate you taking the time to make a reproduction, could I ask you to try and make the reproduction even smaller?

[2021-11-04 11:57] reno1979 commented on #147
@thepassle  No problem, I appreciate the module.

I tried to make it as small as possible, the  issue only happened using multiple files. I was not able to reproduce it in the playground.

Would a small repo help?

[2021-11-04 12:52] thepassle commented on #147
Yes that would help, I know it's already pretty minimal, but please try to make the repro as minimal as you possibly can (the least amount of classes/mixins required, maybe only a property instead of properties/and attributes, etc). Sorry to be nitpicky, but bugs in the inheritance stuff get very confusing very quickly.

[2021-11-04 13:15] reno1979 commented on #147
Ok no problem, does this help?

https://github.com/reno1979/custom-element-manifest-test

[2021-11-04 14:10] thepassle commented on #147
Yes that helps, thanks a lot.

Do you use multiple mixins that have the same name in a project? E.g.: in your repo, you declare `getClass` every time in each file

[2021-11-04 14:14] reno1979 commented on #147
@thepassle  correct, a code template is user. Si all files are the same.

[2021-11-04 14:16] thepassle commented on #147
Is this code open source by any chance? I'd be interested to see what it looks like

[2021-11-04 14:30] reno1979 commented on #147
@thepassle  no sorry I can not publish the code. I wish I could. It is just a vanilla web component library.
I'm working on something very basic that works almost the same, it is a way for me to experiment. And that is a personal project, so when published I will let you know.

[2021-11-04 14:32] thepassle commented on #147
I understand. To clarify, I'm interested in seeing why you'd re-declare a mixin with the same name for every file, as opposed to giving the mixin its own module/making it shared somehow.

[2021-11-04 14:43] reno1979 commented on #147
ahh that is because it is a work in progress. The mixin is only a wrapper, the actual class that is wrapped should be able to extend on a different given class.

For example:

[code]

[2021-11-06 10:33] bashmish commented on #71
There is another complexity to take into account - [withElementDisambiguation](https://www.fast.design/docs/design-systems/fast-frame/#designsystemwithelementdisambiguation). Given FAST is by nature very **dynamic**, I don't think the current **static** format of Custom Elements Manifest can be used to describe all FAST features, but maybe it's not really needed.

E.g. in our FAST starter-kit all

[2021-12-06 13:49] WickyNilliams opened #149 "Bug: incorrect event names when using custom event classes"
**Checklist**
- [x] Did you run the analyzer with the `--dev` flag to get more information?
- [x] Did you create a **minimal** reproduction in the [playground](https://custom-elements-manifest.netlify.app/)?

Completing the items above will greatly improve triaging time of your issue.

**Expected behavior**

I have included links to playground at various steps.

Given [some code like this](https:/

[2021-12-06 15:04] thepassle commented on #149
We should improve the handling of events here: https://github.com/open-wc/custom-elements-manifest/blob/master/packages/analyzer/src/features/analyse-phase/creators/createClass.js#L171

We currently only expect `new Event('whatever')` there, not really custom event classes. We maybe should only do that if its a `new Event` or `new CustomEvent` and the first argument is a string literal. (e.g.: not

[2021-12-06 15:27] WickyNilliams commented on #149
Yeah I think it should only be for Event and CustomEvent. For any other user-defined event, you cannot be sure a string arg is the event name e.g. `new SomeEvent("some-string-that-is-not-the-event-name")`

I'll see if i can make a PR for this during the week. Thanks for the pointers!

[2021-12-06 15:33] WickyNilliams opened #150 "JSDoc comments from mixin class ignored"
**Checklist**

- [x] Did you run the analyzer with the `--dev` flag to get more information?
- [x] Did you create a **minimal** reproduction in the [playground](https://custom-elements-manifest.netlify.app/)?

Completing the items above will greatly improve triaging time of your issue.

**Expected behavior**

This was already discussed on slack previously, so adding here as a reminder, and for vis

[2021-12-07 18:07] thepassle opened #151 "implement deprecated"
https://github.com/webcomponents/custom-elements-manifest/pull/89

[2021-12-07 18:08] thepassle opened #152 "implement spread"
https://github.com/webcomponents/custom-elements-manifest/pull/83

[2021-12-07 18:09] thepassle commented on #151
This is probably easy to add by adding it to the `handleJsDoc` function, which is used pretty much everywhere for jsdoc https://github.com/open-wc/custom-elements-manifest/blob/master/packages/analyzer/src/features/analyse-phase/creators/handlers.js#L39

[2021-12-07 18:11] thepassle commented on #152
https://astexplorer.net/#/gist/b7ad20b26ea64154038d78cf66140079/b382ec9e46e4aae53c033249ea9a1d8db9562318

[2021-12-08 06:34] baermathias opened #153 "Error: UNKNOWN_VALUE: Unknown value: CustomElement.js"
**Checklist**
- [x] Did you run the analyzer with the `--dev` flag to get more information?

I have tried to run the analyzer on one of the `lion` components. Summary steps of what I did:

[code]

This gives me the following error:

[code]

Do I miss something?

**Expected behavior**
Create a manifest file.

[2021-12-08 07:16] thepassle commented on #153
You have to use the `--globs` flag to specify which files you want to analyze. See https://custom-elements-manifest.open-wc.org/analyzer/config/#config-file

[2021-12-08 07:17] #153 closed

[2021-12-15 10:33] reno1979 commented on #147
@thepassle

Is there a possible workaround I could do in our code base to make it work?

[2021-12-15 16:54] bashmish opened #154 "Shorten the default config filename"
I propose to rename the default file config to `cem-analyzer.config.mjs`.

We can do it in the following manner:
- keep the current name `custom-elements-manifest.config.mjs` for legacy reasons (maybe deprecate it as some point)
- adjust documentation to promote the new name `cem-analyzer.config.mjs`
- during the deprecation period we can search for 2 files automatically, in the following order:

[2021-12-19 04:57] PaulHMason opened #156 "Backtracking into dependency packages in mono repos."
**Checklist**
- [x] Did you run the analyzer with the `--dev` flag to get more information?
- [ ] Did you create a **minimal** reproduction in the [playground](https://custom-elements-manifest.netlify.app/)?

Completing the items above will greatly improve triaging time of your issue.

**Expected behavior**
I suspect this is just the way globs work, but anyway. I have a package that depends on ano

[2021-12-19 05:07] PaulHMason commented on #156
The issue was the node_modules folder was being analyzed for the backtracked glob as well - excluding it fixes the problem.

[2021-12-19 08:16] #156 closed

[2022-01-03 08:05] sanjatasic opened #158 "Custom element tag name not contained in the manifest"
**Checklist**
- [] Did you run the analyzer with the `--dev` flag to get more information?
- [] Did you create a **minimal** reproduction in the [playground](https://custom-elements-manifest.netlify.app/)?

Completing the items above will greatly improve triaging time of your issue.

**Expected behavior**
Would expect a custom element tag name to be included in the manifest. What is the reason tha

[2022-01-03 08:08] thepassle commented on #158
I dont know

[2022-01-03 08:12] sanjatasic commented on #158
Should this question be asked in the JSON schema spec project?

[2022-01-03 08:15] thepassle commented on #158
Probably not. But you didnt make a minimal reproduction in the playground (like it says in the issue template that you edited), so there's no way for me to know whats going on.

[2022-01-03 08:36] sanjatasic commented on #158
Sorry, my bad.
Did not create minimal reproduction in the playground, but did run the analyzer with --dev flag, as suggested.

Here is custom element class:
`import { LitElement, TemplateResult, html } from "lit";
import { customElement, property } from "lit/decorators.js";

/**
 * @CustomElement my-element
 */
@customElement("my-element")
export default class MyElement extends LitElement {
  @pro

[2022-01-03 08:38] thepassle commented on #158
The analyzer supports Lit, and its decorators. Did you run the analyzer with special handling for Lit enabled? e.g. `cem analyze --litelement`

Please make sure to thoroughly read the documentation and issue template before creating an issue https://custom-elements-manifest.open-wc.org/

[2022-01-03 08:38] #158 closed

[2022-01-03 08:39] sanjatasic commented on #158
I did, with the same result

[2022-01-10 16:06] dave52 opened #159 "Supply method return type in JSON via inference"
Hello -

This is a feature request more than a bug. It would be nice if methods inferred their return type (like TS does) but supplied this info in the .json.

As it exists, methods require an explicit return type to be added, or JSdocs style `@returns` info.

**Existing**
[code]

**Desired**
[code]

**JSON Output**
[code]

BTW this CEM package is great, thank you for your efforts ♥

[2022-02-06 19:07] guillemcordoba opened #161 "[to-markdownUncaught SyntaxError: mdast-builder/lib/src/index.js' does not provide an export named 'image'"
**Checklist**
- [ ] Did you create a **minimal** reproduction in the [playground](https://custom-elements-manifest.netlify.app/)?

Completing the items above will greatly improve triaging time of your issue.

**Expected behavior**
A clear and concise description of what you expected to happen.

[2022-02-24 11:55] Poliziano opened #162 "Programmatically invoke the analyzer"
Hi - it is possible to invoke the analyzer from within TypeScript/JavaScript? I have a Vite plugin that I'm working on that produces the manifest during a build. I'm currently use `child_process` to the invoke the command which works fine, but preferably I would be able to directly call the analyzer. Is this reasonable/possible to do? Thanks!

[2022-02-24 11:59] thepassle commented on #162
Yes, you can read more about there: https://custom-elements-manifest.open-wc.org/analyzer/getting-started/#usage-in-the-browser

The title says "usage in the browser", but the usage is the same in Node

[2022-02-24 11:59] #162 closed

[2022-02-24 14:27] thepassle commented on #162
Thats because this package is `"type": "module"`

More info:
https://redfin.engineering/node-modules-at-war-why-commonjs-and-es-modules-cant-get-along-9617135eeca1

[2022-03-09 10:21] hsablonniere commented on #110
Hey, I'm also interesed in such a dev server plugin :wink:

We managed to make something but it clearly needs some love.

* The plugin:
  * https://github.com/CleverCloud/clever-components/blob/master/web-dev-server.config.js#L102-L109
* The `generateCustomElementsManifest` implementation:
  * https://github.com/CleverCloud/clever-components/blob/master/tasks/cem-analyzer.js

Here are some "limita

[2022-03-09 10:38] thepassle commented on #110
Do you mean analyze on a per-module basis?

[code]
will give you the json for a module, but if its only 1 module of your project, then the info in the output CEM will be very incomplete, because it needs the other modules in your project.

Additionally, using the `--dev` flag will output the CEM as JSON to stdout as well

There already is an `--outdir` option

I thought we already made this config

[2022-03-09 11:25] hsablonniere commented on #110
Sorry, I meant a JS module I could import and call to generate the CEM. I wasn't referring to the module (or modules) I want to analyze.

Yes, I tried that when you mentioned it in Slack but extracting the JSON from this is really tricky.

:scream: Oh, I'm really sorry, I totally missed this one. It does not work with absolute paths so it's a bit tricky to use with `/tmp`.
:bulb: But I just though

[2022-03-09 11:29] thepassle commented on #110
Im not really sure what you mean with this point. You can import the `create` function and generate a CEM

[2022-03-09 11:34] hsablonniere commented on #110
I would need to import all my modules, load the config file with my CEM analyze plugins, and write a lot of boilerplate to generate the same `custom-elements.json` output as the CLI does, right?

[2022-03-09 11:38] thepassle commented on #110
You would need to read the modules you want to analyze, and pass any custom plugins you're using to `create`. Not sure what kind of boilerplate you're expecting to need to write?

I feel like I'm misunderstanding your point, could you explain your original point in a different way perhaps? <aybe with an example?

[2022-04-12 07:15] domoskanonos opened #163 "Error: [CORE - LIT-STATIC-PROPERTIES]: Looks like you've hit an error in the core library."
NPM command: custom-elements-manifest analyze --outdir public/ --litelement --dev

with node version 14.17.0 everything works fine, version 16.14.2 broken with error:

TypeError: Cannot read properties of undefined (reading 'push')
    at mapClassMember (file:///C:/machineroom/git/ui-blueprint-webcomponent/blueprint-frontend/node_modules/@custom-elements-manifest/analyzer/src/features/analyse-phas

[2022-04-12 07:53] domoskanonos commented on #163
import {LitElement, TemplateResult, html} from "lit";
import {customElement, property} from "lit/decorators.js";
import {environment} from "../environments/environment";
import {OpenidService} from "../service/openid-service";

@customElement("si-ui-blueprint-webcomponent")
export class SiUiBlueprintWebcomponent extends LitElement {

    @property({type: String})
    status: string = "success";

[2022-04-12 08:02] thepassle commented on #163
Im not able to reproduce locally or in the [playground](https://custom-elements-manifest.netlify.app/?source=CmltcG9ydCB7TGl0RWxlbWVudCwgVGVtcGxhdGVSZXN1bHQsIGh0bWx9IGZyb20gImxpdCI7CmltcG9ydCB7Y3VzdG9tRWxlbWVudCwgcHJvcGVydHl9IGZyb20gImxpdC9kZWNvcmF0b3JzLmpzIjsKaW1wb3J0IHtlbnZpcm9ubWVudH0gZnJvbSAiLi4vZW52aXJvbm1lbnRzL2Vudmlyb25tZW50IjsKaW1wb3J0IHtPcGVuaWRTZXJ2aWNlfSBmcm9tICIuLi9zZXJ2aWNlL29wZW5pZC1

[2022-04-12 09:00] domoskanonos commented on #163
@CustomElement -> git automatically capitalized it

[2022-04-12 09:00] domoskanonos commented on #163
in my code it's lowercase "c"

[2022-04-12 09:01] domoskanonos commented on #163
ok i will try to find out where the problem is and i will report here. If i remove "--litElement" flag it works...

[2022-04-12 09:06] domoskanonos commented on #163
exact environment : node: v16.14.2, npm: 8.5.0

[2022-04-14 18:39] michaelwarren1106 commented on #147
Bump.

I'm still having this issue today in recent versions/usage of CEM analyzer. Is there a plan of attack for adding properties that come from the inheritance chain added to the class declaration in the manifest?

I'm attempting to use the manifest.json file for automated documentation, and not having mixin properties be available makes my documentation inacccurate

[2022-04-15 06:41] sashafirsov opened #164 "generate WEBCOMPONENTS.md or update WEBCOMPONENTS section of README.md"
This is enhancement proposal which could be implemented as independent CLI or part of `cem`.

In projects often README.ms serves API and web component attributes/events definition. Keeping this section up-to-date is difficult manual task and as manual not prone for errors. Generation of MD section either from code or from manifest would keep the ts/js code as source of truth.

Similar could be ach

[2022-04-15 06:46] sashafirsov commented on #164
found [jsdoc-to-markdown](https://github.com/jsdoc2md/jsdoc-to-markdown) as fast work around.

CONS: web component specific presentation as in markdown is missing.

[2022-04-15 07:07] thepassle commented on #164
Im not really sure what this issue is about. I dont see a proposal for an enhancement?

We do have tools to generate markdown. Did you see https://github.com/open-wc/custom-elements-manifest/tree/master/plugins/readme?

[2022-04-15 11:54] sashafirsov commented on #164
Sweet, I was not aware of that package, thank you.

Closing this proposal in favor of [custom-elements-manifest](https://github.com/open-wc/custom-elements-manifest)

[2022-04-15 11:54] #164 closed

[2022-04-28 12:17] kateutlik commented on #151
I am working on this issue

[2022-05-02 11:55] EmilienLeroy opened #168 "Vitejs plugin"
Hello 😄

I have developed a little plugin for [Vite.js](https://vitejs.dev/) using the [@custom-elements-manifest/analyzer](https://github.com/open-wc/custom-elements-manifest/tree/master/packages/analyzer) to build the custom elements manifest on the fly. I think it can be interesting for some peoples to use it but I don't know if it can be added into the [community plugins](https://custom-elemen

[2022-05-02 11:59] thepassle commented on #168
Sure! Feel free to make a PR

Cool plugin 🙂

[2022-05-02 12:34] thepassle commented on #168
fixed via #169

[2022-05-02 12:34] #168 closed

[2022-05-02 12:39] EmilienLeroy commented on #168
@thepassle Thanks you ! 😄

[2022-05-08 21:29] sonntag-philipp opened #172 "Symlinks provided as globs are not working"
**Checklist**
- [x] Did you run the analyzer with the `--dev` flag to get more information?
- [x] Did you create a **minimal** reproduction in the [playground](https://custom-elements-manifest.netlify.app/)?

Hello there,

at first, thank you for this project. It did a really good job for me in the past and I hope to see it having a good future :)

I noticed some flaws while using symlinks within

[2022-05-09 11:57] WickyNilliams commented on #151
A quick plugin i whipped up which seems to do the trick:

[code]

[2022-05-09 12:07] thepassle commented on #151
Nice 🙂  That will enable anybody who is currently interested in this feature to already support it in their projects via the plugin. Ideally, we'd still add it the `handleJsDoc`. @kateutlik did you make any progress on this?

[2022-05-09 12:32] WickyNilliams commented on #151
agreed, would be great if it was supported out of the box. i was surprised it wasn't.

btw is there any way to improve the plugin above? it feels weird to me to wait for class nodes, then loops through its members. vs processing each node as-is. it'd be nice if there was a util like `getDocsForNode(node)` so the code could be like:

[code]

maybe i'm missing something :) i don't have much experien

[2022-05-19 14:09] thepassle commented on #151
Ah good catch, yes please 😊

[2022-05-24 09:55] jpzwarte opened #175 "Support silent running"
[code]

It would be nice (especially when running as part of a larger toolchain) to support `--silent` or `--quiet` where `cem` doesn't output the "Created new manifest" line.

[2022-05-25 07:41] thepassle commented on #121
this should be fixed in #142

[2022-05-25 07:41] #121 closed

[2022-05-29 12:35] #175 closed

[2022-06-10 09:57] byk04712 commented on #172
same

[2022-06-17 16:07] duncanmak opened #179 "Build broken on Skypack (and possibly also unpkg)"
I want to try out the analyzer and I tried importing it form skypack and unpkg, and it's failing.

See: https://cdn.skypack.dev/error/build:@custom-elements-manifest/analyzer@v0.6.3-KzrCMF8r5dCxOfOpGh6Q
[code]

On unpkg:

https://unpkg.com/browse/@custom-element-manifest/analyzer/

[code]

[2022-06-17 16:19] thepassle commented on #179
Theres a typo in the unpkg link https://unpkg.com/browse/@custom-elements-manifest/analyzer@0.6.3/

[2022-07-01 15:28] frodesigns opened #180 "JSDoc @ignore in LitElement properties not working"
Docs for a prop `/** @ignore */` still get generated with when placed within the `properties` object in LitElement.

Ex:
[code]

I have to delete the entry from the `properties` object for ignore to work.

[2022-07-01 16:23] #180 closed

[2022-07-07 13:03] kateutlik commented on #151
Added handler for a deprecated tag for classes as well, here is the PR: https://github.com/open-wc/custom-elements-manifest/pull/174 @thepassle could you please review?

[2022-07-07 13:52] thepassle commented on #151
closed via #174 , thanks for the contribution @kateutlik !

[2022-07-07 13:52] #151 closed

[2022-07-15 17:41] KingOfTac commented on #71
cc/ @EisenbergEffect In V2 of fast-element the method of registration is changing

[2022-07-21 04:01] auzmartist opened #183 "cem-plugin-template - 'SourceFile' becomes 'JsDocUnknownType' in 0.5.6"
Hi, I am working on a new cem-plugin using a fork of the cem-plugin-template provided [here](https://github.com/open-wc/cem-plugin-template) (thanks for this template btw!)

I noticed some odd behavior between versions 0.5.5 and 0.5.6 of the analyzer plugin. I was hoping for some clarification on the differences between these versions.

The behavior is observed with the unchanged plugin template f

[2022-07-26 15:27] sonntag-philipp opened #184 "Support for composed microsoft/fast-foundation templates and styles"
**Description**

The _custom elements analyzer_ is a great tool to analyze component libraries. Currently, I'm using it to analyze my component library and automatically generate a API documentation that can be browsed in Storybook. The components in the library are based on [microsoft/fast-foundation](https://www.fast.design/docs/design-systems/creating-a-component-library).

Here is an example h

[2022-07-26 15:42] thepassle commented on #184
The analyzer doesn't analyze `css` or `html` tagged template literals for lit, either. Would it be an option to annotate the slots and cssparts on the class? https://custom-elements-manifest.open-wc.org/analyzer/getting-started/#supported-jsdoc

As for analyzing the `compose` function, I suppose you _could_ try to analyze that, but since it's highly dynamic you're probably going to run into lots o

[2022-07-27 09:38] sonntag-philipp commented on #184
Thank you for the fast answer @thepassle!

Something like this was also on my mind at first. But then I thought that the documentation of the template - which the csspart and slot annotations are in my opinion - should be defined right next to the declaration of the template.
Otherwise it would be very possible to have not just no custom element manifest data available, but much more wrong data as

[2022-09-09 13:07] pdesoyres-cc commented on #110
With @hsablonniere, we managed to implement it like that:

[code]

* we can get the JSON without writing a temporary file
* the `package.json` is not modified during the process (this is now the default behavior :+1: )

:pray: Thank you to all the contributors for this new implementation of the `cli.js`.
:bulb: It would be even better if we did not need to play with `argv`

[2022-09-09 13:09] hsablonniere commented on #110
@thepassle @bennypowers Are you interested in moving forward with this. We could contribute the plugin to open-wc :wink:

[2022-09-12 07:21] valentindiehl commented on #163
@domoskanonos Have you found a solution for this? I'm having the same issue, but I'm trying for days to find the source since it randomly appeared without really changing or updating anything.

As soon as I find a minimal example without 300 lines of code, I'll post it here.

[2022-09-12 07:22] valentindiehl commented on #163
To add to this: The error already happens when running "npm install", not even while transpiling with run/build

[2022-09-26 14:06] keithamus opened #186 "Catalyst Plugin: attribute names aren't dasherised"
**Checklist**
- [ ] Did you run the analyzer with the `--dev` flag to get more information?
- [x] Did you create a **minimal** reproduction in the [playground](https://custom-elements-manifest.netlify.app/)?

[Playground link](https://custom-elements-manifest.netlify.app/?source=CmltcG9ydCB7IGNvbnRyb2xsZXIsIGF0dHIgfSBmcm9tICdAZ2l0aHViL2NhdGFseXN0JwoKQGNvbnRyb2xsZXIKY2xhc3MgSGVsbG9Xb3JsZEVsZW1lbnQg

[2022-09-28 12:45] DeepakJY97SF commented on #163
I fixed this issue in the createClass.js by checking for classTemplate.members existence and initialize it with empty array in undefined

old:
[code]
new:
[code]
I tried to push a fix branch to create a pullrequest, but I don't have the rights

[2022-10-09 04:33] nedredmond opened #187 "@internal by default"
I am using this package to create a manifest for my stencil project in order to generate docs in Storybook.

A major headache is marking every variable that is not a prop (which is already indicated by `@Prop()`) with the `@internal` or `@omit` decorators, or they will be treated just like props.

I also have to mark all internal functions, including `render()`, which I'd think would be omitted by

[2022-10-09 08:43] thepassle commented on #187
The render method could be added to the method denylist I suppose:
https://github.com/open-wc/custom-elements-manifest/blob/master/packages/analyzer/src/features/framework-plugins/stencil/stencil.js#L6

Could you provide a code example of the other issue you mention, every variable thats not a prop? Why would you not want those documented exactly?

[2022-10-09 08:44] thepassle commented on #186
@keithamus Could you take a look at this PR to make sure I got it right? 🙂 Thanks https://github.com/open-wc/custom-elements-manifest/pull/188

[2022-10-10 00:41] nedredmond commented on #187
@thepassle, thank you for your quick response. I am going to make an effort to make the issue as clear as possible. If I am stating the obvious, I'm doing it only for the purposes of leaving nothing ambiguous, and no condescension is intended. Again, I thank you and the team for your efforts here.
---

My custom element has exposed fields-- props-- that are exposed on the interface and mutable by

[2022-10-10 00:57] nedredmond commented on #187
It does look like it's intended to work this way, so it's strange that it's writing all of the fields as props!

https://github.com/open-wc/custom-elements-manifest/blob/master/packages/analyzer/src/features/framework-plugins/stencil/stencil.js#L61

[2022-10-10 01:29] nedredmond commented on #187
I see the real issue here. The `stencil` extension is correctly identifying `attributes` from the `Prop` decorator. Storybook, however, is generating docs from every `member` instead of every `attribute`.

I'll go submit an issue there instead! Thanks again for all of your great work.

[2022-10-10 04:47] nedredmond commented on #187
Is there a reason `attributes` are missing many of the fields that are mapped for `members`?

That includes `description` and `default`. Second, is is there a reason Stencil properties are `attributes` and not `properties`?

[2022-10-10 07:05] thepassle commented on #187
Could you post a code snippet or a playground reproduction? I dont see this properties/attributes mentioned in your earlier snippet

Stencil properties should be available both in the `members` and `attributes` array of the class

[2022-10-10 11:16] nedredmond commented on #187
Sorry this is a new thread relating to getting the expected output in Storybook from my custom elements manifest.

I am seeing that for Storybook, attributes (which are the fields I expect) are written to the argTypes dictionary, then overwritten by members, which contains all fields (including internal state).

I tried deleting members from the JSON, then realized attributes only maps `name`, `fi

[2022-10-10 11:57] thepassle commented on #187
Sorry, but this thread has become pretty confusing for me.

If this is about the analyzer documenting pseudo-private properties (e.g. properties that are — in the case of Stencil — not denoted with a `@Prop` decorator, or for example prefixed with an underscore e.g. `_foo`) should still be documented because they are not _truly_ private. Only properties that are (in TS) denoted with the `private`

[2022-10-21 14:13] KameronKales commented on #163
I had this issue (independent of which node version I was running, i tried 14 and 16).

I was able to fix by being verify specific about what code to include via --glob.

For a project im working on

This works:

```cem analyze --litelement --globs packages/*/* --exclude packages/*/dist```

This does not

```cem analyze --litelement  --exclude packages/*/dist```

and this does not

```cem analyze

[2022-10-30 12:34] #163 closed

[2022-11-01 13:15] jrencz opened #189 "Idea: allow configuring framework plugins (how to adjust core plugin output)"
For now plugins are "all or nothing". In my case it Lit:

[code]

Here's a case why it was not good enough for me, how I solved it and what I propose to make it more approachable:

### What was not OK with defaults for me

I made a decision to amend my LitElements with an override of [createProperty](https://lit.dev/docs/api/LitElement/#LitElement.createProperty):

[code]

[code]

`LitPlugin` (obv

[2022-11-01 20:53] awmack opened #190 "Found playground issue - "@ignore" not working with Lit @property"
# Playground issue

Reproduction URL:
https://custom-elements-manifest.netlify.app/?source=CmltcG9ydCB7IExpdEVsZW1lbnQsIHByb3BlcnR5IH0gZnJvbSAnbGl0LWVsZW1lbnQnOwoKZXhwb3J0IGNsYXNzIE15RWxlbWVudCBleHRlbmRzIExpdEVsZW1lbnQgewogIC8qKiAKICAgKiBUaGlzIGlzIG15IGZvbyBwcm9wZXJ0eS4KICAgKiBAaWdub3JlCiAgICovCiAgQHByb3BlcnR5KCkKICBmb28gPSAnYmFyJzsKfQo%3D&library=litelement

## Additional information:
I encounter